<app-modal-wrapper [title]="'delete_user' | translate" (closed)="close()" [loading]="isLoading">
  <ng-container>
    <p>
      {{ 'delete_user_question' | translate: { userName: user.displayName } }}
    </p>
    <app-alert *ngIf="isError" type="danger">
      {{ 'something_went_wrong' | translate }}
      {{ 'try_again' | translate }}
    </app-alert>
    <div class="text-right mt-4">
      <button class="button button--default mr-2" (click)="close()">
        {{ 'cancel' | translate }}
      </button>
      <button
        class="button button--danger"
        (click)="deleteUser()"
        [appTrackEvent]="{
          name: eventNames.apiDeleteUser,
          component: eventComponents.button
        }"
      >
        {{ 'delete' | translate }}
      </button>
    </div>
  </ng-container>
</app-modal-wrapper>
