@import 'variables';

.grid-container {
  &__row {
    display: flex;
    padding-bottom: 8px;

    &--loading {
      padding-bottom: 76px;
    }
  }

  &__devices {
    position: sticky;
    z-index: 5;
    top: 50px;
    background: $color-gray-200;
  }

  &__vertical-bar {
    margin-left: 8px;
    overflow: hidden;
    flex: auto;
    max-width: 78px;
  }

  .matrix {
    display: inline-flex;
    max-width: calc(100% - 48px - 38px);
    overflow-y: hidden;
    overflow-x: hidden;

    &__users {
      display: flex;
      flex-direction: column;
      border-radius: 4px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      max-width: calc(100% - 213px);
      overflow: auto;
      border-radius: 4px;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.05);
      background: $color-white;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__permissions {
      position: relative;
      font-size: 15px;
      font-weight: 500;
      width: fit-content;
      transition: 0.5s ease-in-out;
    }

    &__row {
      height: 62px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;
      cursor: pointer;
      &--active {
        .matrix__col {
          box-shadow: inset 300px 0 rgba($color-secondary, 0.05);
        }
      }
    }

    &__col {
      flex: 1;
      cursor: pointer;
      height: 100%;

      &:hover {
        box-shadow: inset 300px 0 rgba($color-secondary, 0.1) !important;
      }

      &--active {
        box-shadow: inset 300px 0 rgba($color-secondary, 0.05);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .grid-container {
    .matrix {
      width: 100%;
      max-width: 100%;

      &__container {
        width: calc(100% - 180px);
        max-width: calc(100% - 180px);
      }

      &__col {
        min-width: 120px;
      }
    }

    &__row {
      padding-right: 12px;
    }

    &__vertical-bar {
      display: none;
    }
  }
}
