<div [ngClass]="{ 'itemGroup-with-child-selected': hasChildren(item) && displayChildren(item) }">
  <div *ngIf="!hasChildren(item)">
    <mat-list-item>
      <a
        (click)="navigate($event, item.route)"
        [ngClass]="{
          'active-link': isActive(item.route) && !hasChildren(item),
          'active-group': isActive(item.route) && hasChildren(item)
        }"
        class="d-flex align-items-center w-100"
        [attr.data-cy]="item?.icon"
      >
        <mat-icon svgIcon="{{ item?.icon }}" [attr.data-cy]="item.icon"></mat-icon>
        <span>{{ item?.name | translate }}</span>
      </a>
    </mat-list-item>
    <div
      [ngClass]="{
        'd-none': !hasChildren(item) || (hasChildren(item) && !displayChildren(item)),
        'd-block': hasChildren(item) && displayChildren(item)
      }"
    ></div>
  </div>
  <div *ngIf="hasChildren(item)">
    <mat-accordion>
      <mat-expansion-panel class="parentLink--mobile" [expanded]="displayChildren(item)" hideToggle>
        <mat-expansion-panel-header class="p-0" (click)="expandMobilePanel()">
          <mat-panel-title>
            <mat-list-item>
              <a class="d-flex align-items-center w-100">
                <mat-icon svgIcon="{{ item?.icon }}" [attr.data-cy]="item?.icon"></mat-icon>
                <span>{{ item?.name | translate }}</span>
              </a>
            </mat-list-item>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item *ngFor="let childItem of item.children" class="subItem">
          <a
            (click)="navigate($event, childItem.route)"
            [ngClass]="{
              'active-link': isActive(childItem.route)
            }"
            class="d-flex align-items-center w-100"
          >
            <mat-icon svgIcon="{{ childItem?.icon }}" [attr.data-cy]="childItem?.icon"></mat-icon>
            <span>{{ childItem?.name | translate }}</span>
          </a>
        </mat-list-item>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
