@import 'variables';

.autocomplete-readonly {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &__icon {
    width: 22px;
    height: 22px;
    padding-right: 12px;
    flex: 0 0 22px;
  }
  &__data {
    color: $color-secondary;
    overflow: hidden;
  }
  &__primary {
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__secondary {
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.autocomplete {
  display: flex;
  align-items: center;
  &__icon {
    width: 22px;
    height: 22px;
    padding-right: 12px;
  }
  &__name {
    font-size: 14px;
    font-weight: 300;
    color: $color-blue-100;
  }
  &__helper {
    font-size: 10px;
    font-weight: 500;
    color: $color-blue-200;
  }
  ::ng-deep {
    mat-form-field.mat-form-field {
      display: block;
      font-size: 14px;
      margin-bottom: 8px;
      width: 100%;

      &.mat-form-field-invalid {
        &.mat-form-field-appearance-fill {
          .mat-form-field-flex {
            border-color: $color-error;
          }
          .mat-form-field-label {
            color: $color-error;
          }
        }
      }

      &.mat-focused {
        &.mat-form-field-appearance-fill {
          .mat-form-field-flex {
            padding-left: 13px;
            border-left-width: 4px;
            border-color: $color-primary;
            background-color: rgba($color-secondary, 0.1);
          }

          .mat-form-field-label {
            font-weight: 500;
            color: $color-secondary;
          }
        }
      }

      /* Fill appearance */
      &.mat-form-field-appearance-fill {
        .mat-form-field-flex {
          padding: 8px 16px 0 16px;
          border-radius: 0 4px 4px 0;
          border-left: 1px solid $color-secondary;
          background-color: rgba($color-secondary, 0.05);

          &:hover {
            background-color: rgba($color-secondary, 0.1);
          }
        }

        .mat-form-field-infix {
          padding-top: 2px;
          padding-bottom: 8px;
        }

        .mat-form-field-label {
          color: $color-secondary;
        }

        .mat-form-field-underline {
          display: none;
        }

        .mat-form-field-subscript-wrapper {
          margin-top: 7px;
          padding-left: 0;
          padding-right: 0;
          font-size: 12px;
        }
      }

      .mat-form-field-wrapper {
        padding: 0;
      }
    }
  }
}

::ng-deep .mat-autocomplete-panel {
  border-radius: 0 !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) !important;
  .mat-option {
    line-height: inherit;
  }
}
