<app-modal-wrapper [title]="'unassign_device' | translate" (closed)="close()" [loading]="isLoading">
  <ng-container>
    <p>
      {{ 'unassign_device_question' | translate: { deviceName: device.name } }}
    </p>
    <app-alert *ngIf="isError" type="danger">
      {{ 'something_went_wrong' | translate }}
      {{ 'try_again' | translate }}
    </app-alert>
    <div class="text-right mt-4">
      <button class="button button--default mr-2" (click)="close()">
        {{ 'cancel' | translate }}
      </button>
      <button
        class="button button--primary"
        (click)="unassignDevice()"
        [appTrackEvent]="{
          name: eventNames.apiUnassignDevices,
          component: eventComponents.button
        }"
      >
        {{ 'accept' | translate }}
      </button>
    </div>
  </ng-container>
</app-modal-wrapper>
