@import 'variables';

:host {
  display: inline-block;
  height: 24px;
}

.context-menu {
  &__item {
    font-size: 15px;
    font-weight: 300;
    padding-left: 24px;
    padding-right: 24px;

    &--default {
      color: $color-secondary;
    }

    &--danger {
      color: $color-danger;
    }

    &:hover,
    &:focus {
      background-color: $color-gray-400;
      text-decoration: none;
    }
  }
}
.menu {
  &__toggler {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 24px;
    color: $color-secondary;
    vertical-align: middle;

    &--opened {
      color: $color-primary;
      background-color: $color-gray-400;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

::ng-deep {
  .cdk-overlay-pane {
    .context-menu.mat-menu-panel {
      border-radius: 0;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      min-height: auto;

      .mat-menu-content {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
