@import 'variables';

.vertical-bar {
  border-radius: 4px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.05);
  background: $color-white;
  height: fit-content;

  &__row {
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    cursor: pointer;
  }
  &__circle {
    width: 20px;
    height: 20px;
    background-color: $color-gray;
    border-radius: 50%;
  }
}
