<app-page>
  <app-page-title
    [title]="'devices' | translate"
    [tooltip]="'manage_devices' | translate"
    page-title
  ></app-page-title>

  <ng-container page-actions>
    <button type="button" class="button button--primary" (click)="addDevice()" [appTrackEvent]="{
      name: eventNames.addDevices,
      place: eventPlaces.pageActions,
      component: eventComponents.button
    }">
      {{ 'assign_device' | translate }}
    </button>
  </ng-container>

  <ng-container page-body>
    <app-tabs [tabs]="tabs"></app-tabs>
    <router-outlet></router-outlet>
  </ng-container>
</app-page>

