@import 'variables';

.page {
  padding: 30px;
  height: 100%;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 60px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__actions {
    margin-left: auto;
    margin-bottom: 16px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 16px 12px;
    height: 100%;

    &__header {
      display: block;
    }

    &__actions {
      margin-left: 0;
      margin-bottom: 24px;
    }
  }
}
