.add-devices-confirm {
  p {
    font-size: 14px;
  }

  ::ng-deep {
    .mat-checkbox-inner-container {
      margin-right: 8px;
    }

    .mat-checkbox-label {
      .label__title {
        margin-top: 1px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.29;
      }
    }
  }
}
