<div [ngClass]="{ 'itemGroup-with-child-selected': hasChildren(item) && displayChildren(item) }">
  <mat-list-item>
    <a
      (mouseenter)="toggleSubMenu($event, true)"
      (mouseleave)="toggleSubMenu($event, false)"
      (click)="navigate($event, item.route)"
      class="w-100 d-flex align-items-center"
      [ngClass]="{
        'listItem-with-children listItem-parent': hasChildren(item),
        'active-link': isActive(item.route) && !hasChildren(item),
        'active-group': isActive(item.route) && hasChildren(item)
      }"
      [attr.data-cy]="item.icon"
    >
      <mat-icon svgIcon="{{ item?.icon }}"></mat-icon>

      <div class="subItemsMenu d-none" *ngIf="hasChildren(item)">
        <div class="subItem-header subItem-header--parent">
          <a
            (click)="navigate($event, item.route)"
            [ngClass]="{
              'active-link': isActive(item.route)
            }"
          >
            <span>{{ item?.name | translate }}</span>
          </a>
        </div>
        <ng-container *ngIf="!displayChildren(item)">
          <mat-list-item *ngFor="let childItem of item.children" class="subItem">
            <a
              (click)="navigate($event, childItem.route)"
              [ngClass]="{
                'active-link': isActive(childItem.route)
              }"
              class="d-flex align-items-center w-100"
            >
              <mat-icon svgIcon="{{ childItem?.icon }}"></mat-icon>
              <span>{{ childItem?.name | translate }}</span>
            </a>
          </mat-list-item>
        </ng-container>
      </div>
      <div class="subItemsMenu d-none" *ngIf="!hasChildren(item)">
        <div class="subItem-header">
          <a
            (click)="navigate($event, item.route)"
            [ngClass]="{
              'active-link': isActive(item.route)
            }"
          >
            <span>{{ item?.name | translate }}</span>
          </a>
        </div>
      </div>
    </a>
  </mat-list-item>
  <ng-container *ngIf="hasChildren(item) && displayChildren(item)">
    <ng-container *ngFor="let childItem of item.children">
      <mat-list-item class="subItem">
        <a
          (mouseenter)="hasChildren(item) && toggleSubMenu($event, true)"
          (mouseleave)="hasChildren(item) && toggleSubMenu($event, false)"
          (click)="navigate($event, childItem.route)"
          class="d-flex align-items-center w-100 justify-content-center"
          [ngClass]="{
            'listItem-with-children': hasChildren(item),
            'active-link': isActive(childItem.route) && !hasChildren(childItem)
          }"
        >
          <mat-icon svgIcon="{{ childItem?.icon }}" class="px-0"></mat-icon>

          <div class="subItemsMenu d-none">
            <div class="subItem-header subItem-header--child">
              <a
                (click)="navigate($event, childItem.route)"
                [ngClass]="{
                  'active-link': isActive(childItem.route)
                }"
              >
                <span>{{ childItem?.name | translate }}</span>
              </a>
            </div>
          </div>
        </a>
      </mat-list-item>
    </ng-container>
  </ng-container>
</div>
